In [ ]:
import openpyxl
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.utils import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import Workbook
wb = Workbook()

In [1]:
import seaborn as sns
penguins = sns.load_dataset('penguins')
penguins = penguins.sample(frac=.05, random_state=1234)
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,Female
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,Male
115,Adelie,Biscoe,42.7,18.3,196.0,4075.0,Male
97,Adelie,Dream,40.3,18.5,196.0,4350.0,Male
37,Adelie,Dream,42.2,18.5,180.0,3550.0,Female