In [1]:
# pip install vega_datasets

In [2]:
import pandas as pd
import seaborn as sns
from vega_datasets import local_data
import matplotlib.pyplot as plt

seattle = local_data.seattle_weather()
seattle.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

In [3]:
date = pd.to_datetime('8th sep, 2019 11:15 AM')
date

Timestamp('2019-09-08 11:15:00')

In [4]:
date.hour

11

In [5]:
date.minute

15

In [6]:
seattle.dtypes

date             datetime64[ns]
precipitation           float64
temp_max                float64
temp_min                float64
wind                    float64
weather                  object
dtype: object

In [7]:
seattle['month_name'] = seattle['date'].dt.month_name()
seattle['month_name'].head()

0    January
1    January
2    January
3    January
4    January
Name: month_name, dtype: object

In [8]:
seattle['date'].max()

Timestamp('2015-12-31 00:00:00')

In [9]:
seattle['date'].dt.to_period('M').max()

Period('2015-12', 'M')

In [10]:
seattle.set_index(['date'], inplace=True)

In [13]:
seattle['precipitation'].resample('W').sum()

date
2012-01-01      0.0
2012-01-08     35.8
2012-01-15     14.7
2012-01-22     68.2
2012-01-29     49.2
              ...
2015-12-06     56.8
2015-12-13    122.0
2015-12-20     49.7
2015-12-27     55.0
2016-01-03      1.5
Freq: W-SUN, Name: precipitation, Length: 210, dtype: float64