In [1]:
import pandas as pd
import seaborn as sns
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.chart import BarChart, Series, Reference

nyc = pd.read_excel('nyc-pop.xlsx')
nyc.head()

         borough      pop  land_area
0      The Bronx  1472654       42.2
1       Brooklyn  2736074       69.4
2      Manhattan  1694263       22.7
3         Queens  2405464      108.7
4  Staten Island   495747       57.5

In [2]:
# Sort the data for a nicer bar chart

nyc.sort_values(by='pop', ascending=False, inplace=True)

In [3]:
# Add the df to a workbook

wb = openpyxl.Workbook()
ws = wb.active

for r in dataframe_to_rows(nyc, index=False, header=True):
    ws.append(r)

In [4]:
# Locate the column # of pop in the workbook -- 
## add 1 to convert from 0- to 1-based indexing

pop_col = nyc.columns.get_loc('pop') + 1
pop_col

2

In [5]:
borough_col = nyc.columns.get_loc('borough') + 1
borough_col

1

In [6]:
# Locate how many rows down this data goes
## Adding 1 again to convert to 1-based indexing 

max_row = nyc.shape[0] + 1

In [7]:
chart1 = BarChart()

In [12]:
# Locate the range for the data and categories for this plot
data = Reference(ws, min_col=pop_col, min_row=1, max_row=max_row)
cats = Reference(ws, min_col=borough_col, min_row=2, max_row=max_row)


chart1.add_data(data, titles_from_data=True)
chart1.set_categories(cats)

chart1.title = 'NYC population by borough'
ws.add_chart(chart1, "A10")

In [13]:
cats

'Sheet'!$A$2:$A$6

In [9]:
wb.save("nyc-pop-chart.xlsx")