In [1]:
import pandas as pd
import seaborn as sns
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.chart import BarChart, Series, Reference

nyc = pd.read_excel('nyc-pop.xlsx')
nyc.head()

         borough      pop  land_area
0      The Bronx  1472654       42.2
1       Brooklyn  2736074       69.4
2      Manhattan  1694263       22.7
3         Queens  2405464      108.7
4  Staten Island   495747       57.5