In [1]:
import pandas as pd
from openpyxl.workbook import Workbook
from openpyxl import load_workbook
from openpyxl.styles import Font

In [2]:
df_1 = pd.read_excel('shifts.xlsx', sheet_name='Sheet')
df_2 = pd.read_excel('shifts.xlsx', sheet_name='Sheet1')
df_3 = pd.read_excel('shift_3.xlsx')

In [3]:
df_all = pd.concat([df_1, df_2, df_3], sort=False)
df_all

    Shift Region Sales Rep  Product  Cost per  Units Sold
0       1  South    Meggan    Paper        15         163
1       1  South    Charis  Stapler        25         108
2       1  South    Shayne   Pencil         5         118
3       1  North   Krystin      Pen        10          37
4       1  South       Leo    Paper        15         131
..    ...    ...       ...      ...       ...         ...
94      3  South     Willa      Pen        10          42
95      3   West    Shayne    Paper        15         168
96      3   East    Adrian   Binder        30         132
97      3   East     Willa    Paper        15         111
98      3   East     Diann   Folder        17         151

[298 rows x 6 columns]

In [13]:
df_all.shape[0] == df_1.shape[0] + df_2.shape[0] + df_3.shape[0]

True

In [6]:
to_excel = df_all.to_excel('all_shifts.xlsx', index=None)

In [7]:
wb = load_workbook('all_shifts.xlsx')
ws = wb.active

In [8]:
total_col = ws['G1']
total_col.font = Font(bold=True)
total_col.value = 'Total'

In [9]:
e_col, f_col = ['E', 'F']

In [10]:
for row in range(2, 300):
    result_cell = 'G{}'.format(row)
    e_value = ws[e_col + str(row)].value
    f_value = ws[f_col + str(row)].value
    ws[result_cell] = e_value * f_value

In [11]:
wb.save('totaled.xlsx')