In [1]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
tips.style

In [3]:
# Highlight all tips over 3 as green
def highlight_cells(val):
    color = 'green' if val > 3 else ''
    return 'background-color: {}'.format(color)

# How to apply to just one column???
tips.style.applymap(highlight_cells, subset=pd.IndexSlice[:, ['tip']])

In [4]:
# Highlight the entire row as green if over 5, yellow if over 3, nothing if else
def highlight_rows(row):
    value = row.loc['tip']
    if value > 5:
        color = '#90EE90' # Green
    elif value > 3:
        color = '#ffffe0' # Yellow
    else:
        color = '#fffff' # Blank
    return ['background-color: {}'.format(color) for r in row]

tips.style.apply(highlight_rows, axis=1)

In [5]:
tips.style.apply(highlight_rows, axis=1).to_excel('styled_tips.xlsx', engine='openpyxl',
                                                 index=False)

ValueError: Unexpected color #fffff