In [1]:
import pandas as pd

In [2]:
orders = pd.read_excel('superstore.xlsx')
orders.head()

  Returned           Updated Order Returns
0      Yes  CA-2014-153822 Product Damaged
1      Yes  CA-2014-129707 Product Damaged
2      Yes  CA-2011-152345 Product Damaged
3      Yes  CA-2012-156440 Product Damaged
4      Yes  US-2014-155999 Product Damaged

In [4]:
orders = pd.read_excel('superstore.xlsx', sheet_name='orders')
orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,7981,CA-2011-103800,2013-01-03,2013-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512
1,740,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
2,741,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
3,742,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
4,1760,CA-2011-141817,2013-01-05,2013-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840

In [5]:
returns = pd.read_excel('superstore.xlsx', sheet_name='returns')
returns.head()

  Returned           Updated Order Returns
0      Yes  CA-2014-153822 Product Damaged
1      Yes  CA-2014-129707 Product Damaged
2      Yes  CA-2011-152345 Product Damaged
3      Yes  CA-2012-156440 Product Damaged
4      Yes  US-2014-155999 Product Damaged

In [6]:
returns = pd.read_excel('superstore.xlsx', sheet_name='returns', names=['returned', 'details'])
returns.head()

  returned                         details
0      Yes  CA-2014-153822 Product Damaged
1      Yes  CA-2014-129707 Product Damaged
2      Yes  CA-2011-152345 Product Damaged
3      Yes  CA-2012-156440 Product Damaged
4      Yes  US-2014-155999 Product Damaged

In [ ]:
returns.to_excel('returns.xlsx')

In [7]:
returns.to_excel('returns.xlsx', index=False)